**/.git
**/.gitignore
**/.vs
**/.vscode
**/.cursor
**/bin
**/obj
**/out
**/*.user
**/*.log
**/node_modules
**/README.md
**/Dockerfile*
**/.dockerignore
**/.github
src/RemoteAgent.App
**/Platforms
**/*.apk
**/docs
**/gh-pages
